{
   "generator":"./generators/iptoki.py -o test-credential",
   "presentationGenerator":"./generators/iptoki.py -o test-presentation",
   "generatorOptions":"-e https://solution.iptoki.idlab.app",
   "sectionsNotSupported": ["basic", "schema", "refresh", "evidence", "status", "tou", "ldp", "zkp"],
   "jwt":{
    "es256kPrivateKeyJwk":{
      "kty":"EC",
      "kid":"did:example:0xab#verikey-1",
      "crv":"P-256K",
      "x":"7KEKZa5xJPh7WVqHJyUpb2MgEe3nA8Rk7eUlXsmBl-M",
      "y":"3zIgl_ml4RhapyEm5J7lvU-4f5jiBvZr4KgxUjEhl9o",
      "key_ops":[
        "sign",
        "verify"
      ],
      "d":"IQkxsrZICFvhYEe6ft3wk-LISUUkcFj5uScVQAUGizo"
    },
    "aud":"did:example:0xcafe"
  }
}
